.custom-select {
  position: relative;
  width: 100%;
  font-family: 'Inter', sans-serif;

  .select-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 0.95rem;
    font-weight: 400;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 0px 0px #000000;
    color: #000000;
    cursor: pointer;

    &:hover {
      transform: translate(-1px, -1px);
      box-shadow: 3px 3px 0px 0px #000000;
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
    .select-trigger {
      background-color: #f5f5f5;
      border-color: #cccccc;
      box-shadow: 2px 2px 0px 0px #cccccc;
      transform: none;
      
      &:hover {
        transform: none;
        box-shadow: 2px 2px 0px 0px #cccccc;
      }
    }
  }

  .placeholder {
    color: #999999;
  }

  .chevron {
    transition: transform 0.2s ease;
    color: #666666;
  }

  .chevron.open {
    transform: rotate(180deg);
  }

  .options-list {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    right: 0;
    background: #ffffff;
    border-radius: 8px;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0px 0px #000000;
    padding: 8px;
    list-style: none;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 0.95rem;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #f5f5f5;
      transform: translateY(-1px);
    }

    &.selected {
      background-color: #000000;
      color: #ffffff !important;
      font-weight: 500;
      span{
        color: #ffffff !important;
      }
    }
  }
}

.custom-select:focus-within .select-trigger {
    outline: none;
    transform: translate(-1px, -1px);
    box-shadow: 3px 3px 0px 0px #000000;
}